:root {
    --bgColor: #200E3A;
    --textColor: #F8EDFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bgColor);
    color: var(--textColor);
}

.container {
    width: 80%;
    min-height: 100vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}