.container {
    height: 100px;
    /* background-color: black; */
}

.container .iconsContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    padding: 10px;
}

.container .iconsContainer img {
    aspect-ratio: 3/2;
    filter: grayscale(100%);
    object-fit: contain;
}